table, tr, td {
    border: 2px solid #000;
}

#player-table, #enemy-table {
    margin: 0 auto;
}

.cell {
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

#available-ships {
    min-height: 250px;
}

.single-available-ship .cell {
    display: inline;
    background-color: gray;
    width: 30px;
    height: 30px;
    color: #fff;
}

.available-ship, .attacks {
    text-align: center;
    cursor: pointer;
}

#selected-ship {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
}

#selected-ship {
    min-height: 30px;
}

.direction-choice {
    position: relative;
    border: 1px solid #ddd;
    min-height: 70px;
}

.direction-choice .form-check {
    margin-left: 5px;
    font-size: 14px;
}

.singleOpponent {
    width: 150px;
}

.user-image {
    width: 150px;
}

.highlighted-attack {
    background-color: #e46565;
    color: #fff;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.did-attack {
    background-color: #ff0000;
}