
#user-board {
    margin-left: 60px;
    float: left;
}

#action-board {
   float: right;
   margin-right: 60px;
}

table {
    width: 500px;
    border-collapse: collapse;
}

thead, th {
    border: none;
}

td {
    border: 3px solid black;
    height: 30px;
}
